# game-service
GAME_DEBEZIUM_USER = debezium
GAME_DEBEZIUM_PASSWORD = password

GAME_APP_USERNAME = app
GAME_APP_PASSWORD = password

GAME_POSTGRES_DB = gamedb
GAME_POSTGRES_USER = postgres
GAME_POSTGRES_PASSWORD = password

# user-service
USER_APP_USERNAME = app
USER_APP_PASSWORD = password

USER_POSTGRES_DB = userdb
USER_POSTGRES_USER = postgres
USER_POSTGRES_PASSWORD = password

# stats-service
STATS_APP_USERNAME = app
STATS_APP_PASSWORD = password

STATS_POSTGRES_DB = statsdb
STATS_POSTGRES_USER = postgres
STATS_POSTGRES_PASSWORD = password

# keycloak
KEYCLOAK_ADMIN = admin
KEYCLOAK_ADMIN_PASSWORD = admin
KEYCLOAK_ADMIN_CLIENT_SECRET = changeme

# rabbitmq
RABBITMQ_DEFAULT_USER: rabbitmq
RABBITMQ_DEFAULT_PASS: password